#ResumeImage{
    width:100%
}

#Resume{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #C3DBE8;
    padding: 0 5vw;
    padding-bottom: 5vw;
}